.about_samariddin{
  margin: 35px 0;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.about_samariddin img{
  width: 100%;
  border-radius: 10px;
}


.about-text p{
  line-height: 1.6;
  color: hsl(0, 0%, 84%);
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 40px;
}

.about_ul{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}


.clients { margin-bottom: 15px; }

.clients-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  margin: 0 -15px;
  padding: 25px;
  padding-bottom: 25px;
  overflow-x: auto;
  scroll-behavior: smooth;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 25px;
}

.clients-item {
  min-width: 25%;
  scroll-snap-align: start;
}

.clients-item img {
  width: 70%;
  filter: grayscale(1);
  transition: var(--transition-1);
}

.clients-item img:hover { filter: grayscale(0); }


/* */

.service { margin-bottom: 35px; }

.service-title { margin-bottom: 20px; }

.service-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}


  .service-item {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 18px;
    padding: 30px;
    background: linear-gradient(
    to bottom right, 
    hsl(0, 0%, 20%) 0%, 
    hsla(0, 0%, 25%, 0) 50%
    );
    border: 1px solid rgba(128, 128, 128, 0.502);
    box-shadow: 0 16px 30px hsla(0, 0%, 0%, 0.25);
    border-radius: 14px;
  }

  .service-icon-box {
    margin-bottom: 0;
    margin-top: 5px;
  }

.service-item::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: linear-gradient(
    to bottom right, 
    hsla(240, 1%, 18%, 0.251) 0%, 
    hsla(240, 2%, 11%, 0) 100%
  ), hsl(240, 2%, 13%);
  border-radius: inherit;
  z-index: -1;
}

 .service-icon-box {
    margin-bottom: 0;
    margin-top: 5px;
  }

.service-icon-box img { margin: auto; }


.service-item-title { margin-bottom: 7px; }

.service-item-text {
  color:  hsl(0, 0%, 84%);
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
}




.bal{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-between;
  align-items: center !important;
  width: 100%;
}




.contact{
  margin: 30px 0px;
}

.contacts-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.contact-item {
  min-width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.contact-info {
  max-width: calc(100% - 46px);
  width: calc(100% - 46px);
}

.contact-title {
  color: hsla(0, 0%, 84%, 0.7);
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.contact-info :is(.contact-link, time, address) {
  color: hsl(0, 0%, 98%);
  font-size: 13px;
}

.contact-info address { font-style: normal; }

.mapbox {
  position: relative;
  height: 250px;
  width: 100%;
  border-radius: 16px;
  margin-bottom: 30px;
  border: 1px solid  hsl(0, 0%, 22%);
  overflow: hidden;
}

.mapbox figure { height: 100%; }

.mapbox iframe {
  width: 100%;
  height: 100%;
  border: none;
  filter: grayscale(1) invert(1);
}

.contact-form { margin-bottom: 10px; }

.form-title { margin-bottom: 20px; }

.input-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  margin-bottom: 25px;
}

.form-input {
  color: hsl(0, 0%, 98%);
  font-size: 14px;
  font-weight: 400;
  padding: 13px 20px;
  border: 1px solid hsla(0, 0%, 98%, 0.441);
  border-radius: 14px;
  outline: none;
}
input, textarea {
  display: block;
  width: 100%;
  background: none;
  font: inherit;
}

.form-input { padding: 15px 20px; }

.form-input::placeholder { font-weight: 500; }

.form-input:focus { border-color: var(hsl(45, 100%, 72%)); }

textarea.form-input {
  min-height: 100px;
  height: 120px;
  max-height: 200px;
  resize: vertical;
  margin-bottom: 25px;
}

textarea.form-input::-webkit-resizer { display: none; }

.form-input:focus:invalid { border-color: hsl(0, 43%, 51%); }

.form-btn {
  position: relative;
  width: 100%;
  background:  linear-gradient(
    to bottom right, 
    hsl(0, 0%, 25%) 0%, 
    hsla(0, 0%, 25%, 0) 50%
  );
  color:  hsl(45, 100%, 72%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 13px 20px;
  border-radius: 14px;
  font-size: 6;
  text-transform: capitalize;
  box-shadow: 0 16px 40px hsla(0, 0%, 0%, 0.25);
  z-index: 1;
  transition: 0.25s ease;
}

.form-btn::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: linear-gradient(
    to bottom right, 
    hsla(240, 1%, 18%, 0.251) 0%, 
    hsla(240, 2%, 11%, 0) 100%
  ), hsl(240, 2%, 13%);;
  border-radius: inherit;
  z-index: -1;
  transition: 0.25s ease;
}

.form-btn ion-icon { font-size: 16px; }

.form-btn:hover { background: linear-gradient(
    to bottom right, 
    hsl(45, 100%, 71%) 0%, 
    hsla(36, 100%, 69%, 0) 50%
  ); }

.form-btn:hover::before { background: linear-gradient(
    135deg, 
    hsla(45, 100%, 71%, 0.251) 0%, 
    hsla(35, 100%, 68%, 0) 59.86%
  ), hsl(240, 2%, 13%); }

.form-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.form-btn:disabled:hover { background: linear-gradient(
    to bottom right, 
    hsl(0, 0%, 25%) 0%, 
    hsla(0, 0%, 25%, 0) 50%
  );; }

.form-btn:disabled:hover::before { background: linear-gradient(
    to bottom right, 
    hsla(240, 1%, 18%, 0.251) 0%, 
    hsla(240, 2%, 11%, 0) 100%
  ), hsl(240, 2%, 13%); }
